* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial;
}

.container {
    padding: 20px auto;
}

.game-info {
    display: flex;
}

.game-info .game-name {
    flex: 1;
    text-transform: capitalize;
    font-weight: bold;
    color: #f34444;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}

.game-info .game-name::after {
    position: absolute;
    content: '';
    width: 138px;
    height: 25px;
    background-color: #e91e63;
    left: 1px;
}

.game-info .category {
    flex: 1;
    text-align: right;
    text-transform: capitalize;
    color: #f34444;
    font-weight: bolder;
    letter-spacing: 0px;
}

.game-info .category span {
    text-transform: capitalize;
    color: rgba(22, 72, 238, 0.788);
    font-weight: bold;
    letter-spacing: 1px;
}

.row {
    display: flex;
}

.letters {
    flex: 1;
    text-align: center;
}

.letters .letter_box {
    padding: 16px;
    background-color: #c7b0b0;
    color: #222;
    text-transform: capitalize;
    font-weight: bold;
    margin: 7px 4px 0px 0px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 9px;
}

.letters .clicked {
    cursor: not-allowed;
    background-color: bisque;
    color: #f8f8f8;
}

.letters .prevent {
    cursor: not-allowed;
    background-color: #e91e63;
    transition: 0.3s;
}

.hangman-draw {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}

.hangman-draw .the-dreaw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    transform: translate(-50%);
    display: none;
}

.hangman-draw .the-dreaw .the-stand {
    display: none;
}

.hangman-draw .the-dreaw .the-stand::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #222;
    left: 50%;
    transform: translateX(-50%);
}

.hangman-draw .the-dreaw .the-hang {
    display: none;
}

.hangman-draw .the-dreaw .the-hang::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 93px;
    left: 50%;
    background-color: #222;
    top: 0%;
}

.hangman-draw .the-dreaw .the-hang::after {
    content: '';
    position: absolute;
    height: 22%;
    width: 2px;
    right: -89%;
    background-color: #222;
    top: 0%;
}

.hangman-draw .the-dreaw .the-rope {
    display: none;
}

.hangman-draw .the-dreaw .the-rope::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 152%;
    height: 60px;
    width: 60px;
    transform: translate3d(-10px, 5px, 10px);
    border: 2px solid #e91e63;
    border-radius: 50%;
    border-style: dotted;
}

.hangman-draw .the-dreaw .the-man {
    top: 0px;
    transform: translate3d(90px, 68px, 10px);
    left: 90px;
}

.hangman-draw .the-dreaw .the-man .head {
    display: none;
}

.hangman-draw .the-dreaw .the-man .head::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    /* top: 0px; */
    /* transform: translate3d(-1px, 68px, 10px); */
    /* left: 90px; */
    border: 4px solid #222;
    border-radius: 50%;
    background-color: #c7b0b0;
}

.hangman-draw .the-dreaw .the-man .body {
    display: none;
}

.hangman-draw .the-dreaw .the-man .body::after {
    content: '';
    position: absolute;
    transform: translate3d(10px, 45px, 0px);
    width: 25px;
    height: 115px;
    background-color: #c7b0b0;
    border: 2px solid #222;
    border-radius: 46%;
}

.hangman-draw .the-dreaw .the-man .hands {
    display: none;
}

.hangman-draw .the-dreaw .the-man .hands::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 70px;
    border: 2px solid #222;
    border-radius: 61%;
    left: 43px;
    top: 50px;
    transform: rotate(158deg);
    background-color: #c7b0b0;
}

.hangman-draw .the-dreaw .the-man .hands::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 70px;
    border: 2px solid #222;
    border-radius: 61%;
    left: -2px;
    top: 50px;
    transform: rotate(200deg);
    background-color: #c7b0b0;
}

.hangman-draw .the-dreaw .the-man .legs {
    display: none;
}

.hangman-draw .the-dreaw .the-man .legs::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 49px;
    border: 2px solid #222;
    border-radius: 61%;
    left: 28px;
    top: 147px;
    background-color: #c7b0b0;
}

.hangman-draw .the-dreaw .the-man .legs::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 49px;
    border: 2px solid #222;
    border-radius: 61%;
    left: 12px;
    top: 147px;
    background-color: #c7b0b0;
}

.hangman-draw.worng-1 .the-dreaw {
    display: block;
}

.hangman-draw.worng-2 .the-stand {
    display: block;
}

.hangman-draw.worng-3 .the-hang {
    display: block;
}

.hangman-draw.worng-4 .the-rope {
    display: block;
}

.hangman-draw.worng-5 .the-man .head {
    display: block;
}

.hangman-draw.worng-6 .the-man .body {
    display: block;
}

.hangman-draw.worng-7 .the-man .hands {
    display: block;
}

.hangman-draw.worng-8 .the-man .legs {
    display: block;
}


/* start letters-guess */

.letters-guess {
    padding: 60px;
    background-color: #f8f8f8;
    display: flex;
}

.letters-guess span {
    width: 40px;
    height: 40px;
    background-color: white;
    border-bottom: 2px solid #222;
    text-align: center;
    text-transform: capitalize;
    color: rgba(22, 72, 238, 0.788);
    font-size: 20px;
    font-weight: bold;
    margin-left: 6px;
    transition: 0.3s;
}

.letters-guess span.letters-space {
    position: relative;
    border-bottom: none;
    background: none;
}

.letters-guess span.letters-space::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #222;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* end letters-guess */


/* massges after correct answer or worng  */


/* game over box */

.game-over {
    border: 8px solid red;
    width: 386px;
    height: 320px;
    background-color: #372fe3;
    position: fixed;
    top: 101px;
    left: 342px;
    text-align: center;
    font-size: 36px;
    padding: 26px;
    color: red;
    font-weight: bold;
    border-radius: 8%;
    transition: 0.3s;
}

.good {
    border: 22px solid rgba(22, 72, 238, 0.788);
    width: 386px;
    height: 320px;
    background-color: #d9d8eb;
    position: fixed;
    top: 119px;
    left: 300px;
    text-align: center;
    font-size: 27px;
    padding: 84px 4px;
    color: rgba(22, 72, 238, 0.788);
    font-weight: bold;
    border-radius: 6%;
    transition: 0.3s;
}

.good span {
    position: absolute;
    left: 11%;
    top: 11%;
    color: rgba(22, 72, 238, 0.788);
    font-size: 34px;
}


/* responsve */


/* small device */

@media (max-width:600px) {
    .game-over {
        width: 287px;
        height: 350px;
        top: 338px;
        left: 56px;
    }
    .good {
        transform: translate3d(-305px, 0px, 0px);
    }
    .game-info .game-name {
        text-align: end;
    }
    .game-info .game-name::after {
        width: 81px;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .hangman-draw {
        flex-basis: 206px;
    }
    .game-info .game-name {
        text-align: end;
    }
}